<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Topbar -->
<nav th:fragment="navbar-top" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        aaa<i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-dark text-capitalize font-weight-bold" th:text="${#httpServletRequest.remoteUser} + ' - '"></span>
                <span class="mr-2 d-none d-lg-inline text-gray-600" sec:authentication="principal.authorities"></span>
                <span class="font-weight-bold text-dark"><i class="fas fa-user-tie"></i></span>
                <!--                <img class="img-profile rounded-circle"-->
<!--                     src="https://img.icons8.com/clouds/100/000000/head-profile.png">-->
                <i class="fas fa-chevron-circle-down small"></i>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/user/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>


</nav> <!-- CLOSING TAG -->
<!-- End of Topbar -->

</html>

