<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- Topbar -->
<nav th:fragment="navbar-top" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        aaa<i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item text-dark">
            <a class="nav-link text-dark" aria-expanded="false">
                <div sec:authorize="isAuthenticated()">
                    <div class="font-weight-bold">
                    <span class="mr-2 d-none d-lg-inline text-uppercase"
                          th:text="${#httpServletRequest.remoteUser} + ' - '"></span>
                        <span class="mr-2 d-none d-lg-inline" sec:authentication="principal.authorities"></span>

                        <span class="glyphicon glyphicon-user"></span>
                        <img class="img-profile rounded-circle"
                             src="https://img.icons8.com/clouds/100/000000/head-profile.png">
                    </div>
                </div>
            </a>
            <!-- Dropdown - User Information -->
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li>
            <button type="button" class="btn btn-light" style="height: 50px">
                <a class="nav-link text-capitalize" th:href="@{/logout}">
                    <span><i class="fas fa-sign-out-alt"></i> </span>
                        Log out</a>

            </button>
        </li>

    </ul>


</nav> <!-- CLOSING TAG -->
<!-- End of Topbar -->

</html>