<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">



<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-1" style="font-size: 20px">SITU<sup>.NG</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            </span><span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fas fa-search-plus"></i>
        <span>Lowongan</span>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           aria-controls="collapseTwo"
           th:href="@{/lowongan}">
            <span>Daftar Semua Lowongan</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link"
           aria-controls="collapseTwo"
           th:href="@{/jenisLowongan}">
            <span>Daftar Jenis Lowongan</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/lowongan/tambah}">
            <span>Tambah Lowongan</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fas fa-envelope"></i>
        <span>Surat</span>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/surat}">
            <span>Lihat Semua Surat</span>
        </a>
    </li>

    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/jenis-surat}">
            <span>Lihat Jenis Surat</span>
        </a>
    </li>

    <!-- Tambah Surat -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/jenis-surat/tambah}">
            <span>Tambah Jenis Surat</span>
        </a>
    </li>

    <!-- Divider: SI KOPERASI -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fas fa-coins"></i>
        <span>SI Koperasi</span>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/formulir-peminjaman}">
            <span>Pengajuan Peminjaman</span>
        </a>
    </li>

    <!-- Divider: User -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <i class="fas fa-coins"></i>
        <span>User</span>
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/user/addUser}">
            <span>Tambah User</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link"
           th:href="@{/user/tambah}">
            <span>Tambah User Admin TU</span>
        </a>
    </li>

</ul>

