<!DOCTYPE html>
<html lang="id" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-1" style="font-size: 20px">SITU<sup>.NG</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            </span><span>Dashboard</span></a>
    </li>


    <!-- LOWONGAN -->
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-user-circle"></i>
            <span>Lowongan</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Lowongan</h6>
                <a class="collapse-item" th:href="@{/lowongan}"><i class="far fa-eye"></i> Lihat</a>
                <a class="collapse-item" href="register.html" th:href="@{/lowongan/tambah}"><i class="fas fa-plus"></i> Tambah</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Jenis Lowongan</h6>
                <a class="collapse-item" th:href="@{/jenisLowongan}"><i class="far fa-eye"></i> Lihat</a>
            </div>
        </div>
    </li>
    <!-- /Lowongan -->


    <!-- SURAT -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-envelope"></i>
            <span>Surat</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Surat</h6>
                <a class="collapse-item" th:href="@{/surat}"><i class="far fa-eye"></i> Lihat</a>
                <a class="collapse-item" th:href="@{/surat/tambah}"><i class="fas fa-plus"></i> Tambah</a>
                <h6 class="collapse-header">Jenis Surat</h6>
                <a class="collapse-item" th:href="@{/jenisSurat}"><i class="far fa-eye"></i> Lihat</a>
                <a class="collapse-item" th:href="@{/jenisSurat/tambah}"><i class="fas fa-plus"></i> Tambah</a>
            </div>
        </div>
    </li>

    <!-- TAMBAH USER - ADMIN -->
    <!-- Divider: User -->
    <div sec:authorize="hasAuthority('Admin TU')">
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Tambah User</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Tambah Akun</h6>
                    <a class="collapse-item" th:href="@{/user/addUser}"><i class="fas fa-plus"></i> User </a>
                    <a class="collapse-item" href="cards.html"><i class="fas fa-plus"></i> Admin TU</a>
                </div>
            </div>
        </li>
    </div>


    <!-- Divider: SI KOPERASI -->
    <div sec:authorize="hasAuthority('Admin TU')">
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">

            <span>SI Koperasi</span>
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/formulir-peminjaman}">
                <span><i class="fas fa-coins"></i>Pengajuan Peminjaman</span>
            </a>
        </li>
    </div>


    <!-- Button -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>

