<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> ERROR 400 </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>

<div class="container" style="width: 30vw; margin-top: 30px">
    <div class="card text-dark mb-3 text-center">
        <div class="card-header bg-warning">
            <h3>ERROR CODE</h3>
        </div>
        <div class="card-body bg-dark">
            <h1 class="card-title text-light" style="font-size: 10vw; margin-top: -50px">400</h1>
            <h2 class="text-warning" style="margin-top: -30px">Bad Request</h2>
            <div class="card-footer bg-light" style="border-radius: 30px">
                <p class="card-text text-secondary">The 400 Bad Request error is an HTTP status code that means that the
                    request you sent to the website server, often something simple like a request to load a web page,
                    was somehow incorrect or corrupted and the server couldn't understand it.</p>
            </div>

        </div>
    </div>
</div>

</body>
</html>