<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <title>SITU - [Isi] </title>
        <!-- css -->
        <div th:include="fragments/fragment :: css" th:remove="tag"></div>
        <!--./ css -->
    </head>
</head>

<body>
<!-- TEMPLATE -->
<div id="page-top">
    <div id="wrapper">

        <!--SideBar-->
        <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
        <!--End Of SideBar-->

        <!-- Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Contenr -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ISI DISINI IMPLEMENTASI KALIAN -->
                    <div class="container" style="width: 30vw; margin-top: 30px">
                        <div class="card text-dark mb-3 text-center">
                            <div class="card-header bg-warning">
                                <h3>ERROR CODE</h3>
                            </div>
                            <div class="card-body bg-dark">
                                <h1 class="card-title text-light" style="font-size: 10vw; margin-top: -50px">404</h1>
                                <h2 class="text-warning" style="margin-top: -30px">URL Not Found</h2>
                                <div class="card-footer bg-light" style="border-radius: 30px">
                                    <p class="card-text text-secondary">The HTTP 404, 404 Not Found, 404, Page Not Found, or Server Not
                                        Found error message is a Hypertext Transfer Protocol (HTTP) standard response code, in computer
                                        network communications, to indicate that the browser was able to communicate with a given server,
                                        but the server could not find what was requested.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Page Contain -->


            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer th:replace="fragments/footer :: footer-bottom"></footer>
            <!-- End of Footer -->

        </div>
        <!-- Emd of Content Wrapper -->

    </div>
</div>
<!-- END OF TEMPLATE -->




<!-- scripts -->
<object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
<!--./ scripts -->
</body>
</html>

