<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <title>SITU - Tambah Jenis Lowongan</title>
        <!-- css -->
        <div th:include="fragments/fragment :: css" th:remove="tag"></div>
        <!--./ css -->
    </head>
</head>

<body>
<!-- TEMPLATE -->
<div id="page-top">
    <div id="wrapper">

        <!--SideBar-->
        <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
        <!--End Of SideBar-->

        <!-- Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Contenr -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ISI DISINI IMPLEMENTASI KALIAN -->
                    <div class="container">
                        <div class="card container pb-5 pr-3 pl-3">
                            <form th:action="@{/jenisLowongan/tambah}" th:object="${jenisLowongan}" method="POST">

                                <div class="formContainer">
                                    <div class="leftContainer">
                                        <h3 style="padding-top: 3rem; padding-bottom: 1.5rem;">Tambah Jenis
                                            Lowongan</h3>
                                        <div class="alert alert-primary" role="alert" th:if="${alert == 'EXIST'}">
                                            Nama Sudah Ada!
                                        </div>
                                        <label class="control-label">Nama:</label>
                                        <input class="form-control" type="text" th:field="*{nama}">
                                        <br>

                                        <label class="control-label">keterangan:</label>
                                        <input class="form-control" type="text" th:field="*{keterangan}">
                                        <br>
                                        <div style="float: right">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- End of Page Contain -->

                <!-- End of Page Contain -->


            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer th:replace="fragments/footer :: footer-bottom"></footer>
            <!-- End of Footer -->

        </div>
        <!-- Emd of Content Wrapper -->

    </div>
</div>
<!-- END OF TEMPLATE -->


<!-- scripts -->
<object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
<!--./ scripts -->
</body>
</html>
