<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <title> SITU </title>
        <!-- css -->
        <div th:include="fragments/fragment :: css" th:remove="tag"></div>
        <!--./ css -->
    </head>
</head>

<body>
<!-- TEMPLATE -->
<div id="page-top">
    <div id="wrapper">

        <!--SideBar-->
        <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
        <!--End Of SideBar-->

        <!-- Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Contenr -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ISI DISINI IMPLEMENTASI KALIAN -->
                    <div class="container" style="text-align: center">
                        <img style="width: 95vh" th:src="@{/img/bg.png}" alt="situ-home-bg">
                    </div>

<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header">Tambah User Baru</div>-->
<!--                                <div class="card-body">-->
<!--                                    <form th:action="@{/user/addUser}" method="POST">-->
<!--                                        <label>User Name</label>-->
<!--                                        <input type="text" name="username" class="form-control"/>-->

<!--                                        <label>Password</label>-->
<!--                                        <input type="password" name="password" class="form-control"/>-->

<!--                                        <label>Role</label>-->
<!--                                        <select name="role" class="form-control">-->
<!--                                            <option selected value="">&#45;&#45; Pilih role &#45;&#45;</option>-->
<!--                                            <option th:each="roleAvailable : ${listRole}" th:value="${roleAvailable.id}"-->
<!--                                                    th:text="${roleAvailable.nama}"></option>-->
<!--                                        </select>-->

<!--                                        <br>-->
<!--                                        <button type="submit" class="btn btn-primary">Simpan</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!-- End of Page Contain -->


            </div>
            <!-- End of Main Content -->



        </div>
        <!-- Emd of Content Wrapper -->

    </div>
</div>
<!-- END OF TEMPLATE -->


<!-- scripts -->
<object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
<!--./ scripts -->
</body>
</html>