<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <title> SITU </title>
        <!-- css -->
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
        <!--./ css -->
    </head>
</head>

<body>
<!-- TEMPLATE -->
<div id="page-top">
    <div id="wrapper">

        <!--SideBar-->
        <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
        <!--End Of SideBar-->

        <!-- Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Contenr -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ISI DISINI IMPLEMENTASI KALIAN -->
                    aaa
                </div>
                <!-- End of Page Contain -->


            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer th:replace="fragments/footer :: footer-bottom"></footer>
            <!-- End of Footer -->

        </div>
        <!-- Emd of Content Wrapper -->

    </div>
</div>
<!-- END OF TEMPLATE -->




<!-- scripts -->
<object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
<!--./ scripts -->
</body>
</html>