<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <title> SITU </title>
        <!-- css -->
        <div th:include="fragments/fragment :: css" th:remove="tag"></div>
        <!--./ css -->
    </head>
</head>

<body>
<!-- TEMPLATE -->
<div id="page-top">
    <div id="wrapper">

        <!--SideBar-->
        <object th:replace="fragments/sidebar :: sidebar" th:remove="tag"></object>
        <!--End Of SideBar-->

        <!-- Content Wrapper-->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Contenr -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/navbar :: navbar-top" th:remove="tag"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- ISI DISINI IMPLEMENTASI KALIAN -->
                    <h2>Ubah Jumlah Lowongan</h2>
                    <h4 style="color: green">SUKSES: Jumlah lowongan telah berhasil diubah!</h4>
                    <div class="card container-fluid">
                        <h2 th:text="${lowongan.judul}" class="mt-3"></h2>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Jenis Lowongan</td>
                                    <td th:text="${lowongan.jenisLowongan.nama}"></td>
                                </tr>
                                <tr>
                                    <td>Jumlah</td>
                                    <td th:text="${lowongan.jumlah}"></td>
                                </tr>
                                <tr>
                                    <td>Keterangan</td>
                                    <td th:text="${lowongan.keterangan}"></td>
                                </tr>
                                <tr>
                                    <td>Tanggal Dibuka</td>
                                    <td th:text="${lowongan.tanggalDibuka}"></td>
                                </tr>
                                <tr>
                                    <td>Tanggal Ditutup</td>
                                    <td th:text="${lowongan.tanggalDitutup}"></td>
                                </tr>
                                <tr>
                                    <td>Publisher</td>
                                    <td th:text="${lowongan.user.username}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- End of Page Contain -->


            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer th:replace="fragments/footer :: footer-bottom"></footer>
            <!-- End of Footer -->

        </div>
        <!-- Emd of Content Wrapper -->

    </div>
</div>
<!-- END OF TEMPLATE -->




<!-- scripts -->
<object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
<!--./ scripts -->
</body>
</html>