<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Jumlah Lowongan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: vendor_js" th:remove="tag"></object>
</head>

<body>
<div class="container">
    <div class="card mt-3 mb-3">
        <div class="card-header bg-dark text-white">Ubah Jumlah Lowongan</div>
        <div class="card-body">
            <div class="container my-2">
                <h4>Jumlah lowongan telah berhasil diubah</h4>
                <h2 th:text="${lowongan.judul}" class="mt-3"></h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Jenis Lowongan</td>
                            <td th:text="${lowongan.jenisLowongan.nama}"></td>
                        </tr>
                        <tr>
                            <td>Jumlah</td>
                            <td th:text="${lowongan.jumlah}"></td>
                        </tr>
                        <tr>
                            <td>Keterangan</td>
                            <td th:text="${lowongan.keterangan}"></td>
                        </tr>
                        <tr>
                            <td>Tanggal Dibuka</td>
                            <td th:text="${lowongan.tanggalDibuka}"></td>
                        </tr>
                        <tr>
                            <td>Tanggal Ditutup</td>
                            <td th:text="${lowongan.tanggalDitutup}"></td>
                        </tr>
                        <tr>
                            <td>Publisher</td>
                            <td th:text="${lowongan.user.username}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>