<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Jenis Lowongan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>

<style>

    .detail {
        width: 70rem;
    }

</style>


<body>
<div class="detail mx-auto">
    <div style="padding-bottom: 1rem">
        <button class="btn btn-primary">
            <a th:href="@{/jenisLowongan/add}" style="color: white">Tambah Jenis Lowongan</a>
        </button>
    </div>


    <table class="table">

        <thead class="thead-dark">
        <tr>
            <th colspan="4">Daftar Jenis Lowongan</th>
        </tr>
        </thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Keterangan</th>
            <th scope="col">Action</th>
        </tr>
        <tbody>

        <tr th:each="jenisLowongan, iterationStatus: ${listJenisLowongan}">
<!--            <form th:action="@{/diagnosis-penyakit/hapus/} + ${diagnosisPenyakit.id}" method="POST">-->
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${jenisLowongan.nama}"></td>
                <td th:text="${jenisLowongan.keterangan}"></td>
                <td>
                    <button class="btn btn-primary">
                        <a style="color: white">
                            Lihat
                        </a>
                    </button>

                    <button class="btn btn-danger">
                        Hapus
                    </button>
<!--            </form>-->
            </td>
        </tr>

        </tbody>
    </table>

</div>


</body>
</html>